.signupDiv {
    background-color: #999;
    width: 300px;
    margin: auto;
    text-align: center;
    background: linear-gradient(45deg, #a0a19f, #362d2d);
}
.signupDiv input, .signupDiv select {
    padding: 10px 20px;
    margin-block: 10px;
}
.signupDiv select {
    padding: 10px 20%
}
