.home-main1 {

  padding: 10px 15px;
  color: whitesmoke;
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.home-main1 p{
  font-size: 5rem;
}
.home-bg {
  background-image: url('../assets/home-bg-1.jpg');
  background-size: 100% 100%;
  min-height: 600px;
  /* filter: blur(1px); */
}
.main2 {
  color: whitesmoke;
  margin: 0;
  padding: 10pc 15px;
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  flex-direction: column;
}
.main2 div {
  align-self: baseline;
}
.logo1 {
  font-size: 6.2vw;
  text-transform: uppercase;
}