.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }
  .loader-container {
    width: 75px;
    height: 75px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #6161ce; /* Blue */
    border-radius: 50%;
    animation: spinner 0.5s steps(40) infinite normal;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  