* {
    margin: 0;
    padding: 0;
}
.chat-bot-main {
    position: fixed;
    right: 70px;
    bottom: 95px;
    height: 450px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px 10px 0 10px;
    box-shadow: 2px 3px 10px 3px
}

.bot-header {
    display: flex;
    flex-direction: column;
    background-color: rgb(152, 152, 235);
    border-radius: 8px 8px 0 0;
}
.box-header h3 , .bot-header p {
    margin: 0;
    padding: 0;
}

.bot-body {
    height: 342px;
    padding: 10px 5px;
    overflow-y: scroll;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.bot-icon:hover {
    color:#888;
    font-size: 40px !important;
}

  